.u-section-1 {
  background-image: none;
  min-height: 914px;
}

.u-section-1 .u-image-1 {
  height: 607px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 931px;
  margin: -186px auto 50px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 443px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 514px;
  margin: 130px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 61px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 803px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 384px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 933px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 471px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 873px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 114px;
    margin-right: 63px;
    margin-left: 38px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 55px;
    margin-left: 149px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 586px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: -2px;
  margin-bottom: -2px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 590px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  margin: 177px 270px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 590px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-2 .u-image-1 {
  width: 405px;
  height: 365px;
  margin: 0 20px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 830px;
    margin: 36px 40px 36px auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 413px;
    pointer-events: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 104px;
    margin-right: 170px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 413px;
    pointer-events: auto;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-2 .u-image-1 {
    width: 266px;
    height: 266px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 224px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 455px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 287px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 331px;
}

.u-section-3 .u-text-1 {
  width: 803px;
  font-family: Allan;
  font-weight: normal;
  margin: 61px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 28px auto 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 {
  background-image: linear-gradient(#db545a, #478ac9);
}

.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px 0 0;
}


.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-group-1 {
  min-height: 300px;
  width: 600px;
  background-image: none;
  margin: -438px auto 60px 265px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-family: Amita;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: Amita;
  margin: 24px 0 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-family: Amita;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 495px;
  }

  .u-section-4 .u-image-2 {
    min-height: 495px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -415px;
    margin-left: auto;
  }

  .u-section-4 .u-btn-1 {
    height: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-image-1 {
    min-height: 546px;
  }

  .u-section-4 .u-image-2 {
    min-height: 546px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-4 .u-image-1 {
    min-height: 558px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 557px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 411px;
    margin-top: -697px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 86px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 263px;
  }

  .u-section-4 .u-image-2 {
    min-height: 263px;
  }

  .u-section-4 .u-group-1 {
    width: 294px;
    margin-top: -408px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 47px;
  }
}.u-section-5 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-5 .u-sheet-1 {
  min-height: 529px;
}

.u-section-5 .u-list-1 {
  width: 996px;
  grid-template-rows: auto auto;
  height: auto;
  margin: 60px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 409px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-5 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image:url("images/eva rausch.jpg");
  background-position: 0% 26%;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-1 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0 168px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-5 .u-image-2 {
  width: 133px;
  height: 133px;
  background-image: url("images/papetti.png");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0 168px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-image-3 {
  width: 120px;
  height: 120px;
  background-image: url("images/professional_smile.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-5 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-6 {
  margin: 20px 0 0 168px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-5 .u-image-4 {
  width: 133px;
  height: 133px;
  background-image: url("images/HSTUDENT.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-7 {
  margin: -132px 0 0 168px;
}

.u-section-5 .u-text-8 {
  margin: 20px 0 0 168px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -133px;
    margin-left: 166px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-5 .u-image-1 {
    width: 126px;
    height: 126px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 154px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-5 .u-image-2 {
    width: 126px;
    height: 126px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 154px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-5 .u-image-3 {
    width: 126px;
    height: 126px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 154px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-5 .u-image-4 {
    width: 126px;
    height: 126px;
  }

  .u-section-5 .u-text-7 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-5 .u-list-1 {
    width: 454px;
    margin: 50px auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 160px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 160px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 160px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 160px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 160px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 160px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 156px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 156px;
  }

  .u-section-5 .u-text-4 {
    margin-left: 156px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 156px;
  }

  .u-section-5 .u-text-6 {
    margin-left: 156px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    margin-left: 156px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 156px;
  }
}.u-section-6 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-6 .u-sheet-1 {
  min-height: 529px;
}

.u-section-6 .u-list-1 {
  width: 1068px;
  grid-template-rows: auto auto;
  margin: 60px 0 51px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 418px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 53px 0 30px;
}

.u-section-6 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/LSTUDENT.jpg");
  background-position: 50% 100%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-1 {
  margin: -102px 0 0 168px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0 168px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0 53px 0 30px;
}

.u-section-6 .u-image-2 {
  width: 133px;
  height: 133px;
  background-image: url("images/VSTUDENT.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: -102px 0 0 168px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0 168px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 53px 0 30px;
}

.u-section-6 .u-image-3 {
  width: 133px;
  height: 133px;
  background-image: url("images/Instructor.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: -102px 0 0 168px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0 168px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 368px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -103px;
    margin-left: 166px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: -103px;
    margin-left: 166px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-left: 166px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: -103px;
    margin-left: 166px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-image-1 {
    width: 126px;
    height: 126px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 154px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-image-2 {
    width: 126px;
    height: 126px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 154px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-6 .u-image-3 {
    width: 126px;
    height: 126px;
  }

  .u-section-6 .u-text-5 {
    margin-top: -126px;
    margin-left: 154px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 154px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-6 .u-list-1 {
    width: 454px;
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 160px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 160px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 160px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 160px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 156px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 156px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 156px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 156px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 156px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 156px;
  }
}